.post-row
  %span
    = link_to(post.description, url(:posts, :show, :id => post))
    (
    = post.medias.count
    = post.media_type.pluralize
    )
    = link_to("Delete", url(:posts, :destroy, :id => post), :method => :delete)
  %br/
  - post.medias.limit(9).each do |media|
    = partial media.class.to_s.underscore + '/thumb', :locals => {:media => media }