%p= link_to("Back", url(:posts, :index))
%p
  = h @post.description
  (
  = @post.medias.count
  = @post.media_type.pluralize
  )
%ul.post_list
  - @post.medias.each do |media|
    %li.medium= partial media.class.to_s.underscore + '/medium', :locals => {:media => media}